<a href="https://colab.research.google.com/github/SiddhiKate09/DSBDA-Lab_Assignments/blob/main/Introduction_Students_Marks_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install odfpy
import pandas as pd
import numpy as np

Requirement already satisfied: odfpy in /usr/local/lib/python3.11/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from odfpy) (0.7.1)

In [ ]:
d = pd.read_excel("/content/Demo.xlsx");

In [ ]:
print(d)

          Sr. no.                    Roll No        Name of the Student   DM  \
0               1                     SCOA01              ALISHA SHEIKH   24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH   16
2               3                     SCOA03         SHELAR NEHA NILESH   20
3               4                     SCOA04                RIYA JAWALE   18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB   20
..            ...                        ...                        ...  ...
77  Maximum marks                        NaN                        NaN   24
78            NaN                        NaN                        NaN  NaN
79            NaN                        NaN                        NaN  NaN
80            NaN                        NaN                        NaN  NaN
81            NaN  Internal Exam Coordinator                        NaN  NaN

    FDS  OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    27   20   15   16         NaN         NaN  ...          NaN          NaN
1     9    9   AB   AB         NaN         NaN  ...          NaN          NaN
2    23   16   15   15         NaN         NaN  ...          NaN          NaN
3    14   11    8   15         NaN         NaN  ...          NaN          NaN
4    24   16   24   20         NaN         NaN  ...          NaN          NaN
..  ...  ...  ...  ...         ...         ...  ...          ...          ...
77   27   25   29   27         NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
81  NaN  NaN  HOD  NaN         NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]

In [ ]:
r=d.replace(to_replace=np.nan,value=2)
print(r)

          Sr. no.                    Roll No        Name of the Student  DM  \
0               1                     SCOA01              ALISHA SHEIKH  24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH  16
2               3                     SCOA03         SHELAR NEHA NILESH  20
3               4                     SCOA04                RIYA JAWALE  18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB  20
..            ...                        ...                        ...  ..
77  Maximum marks                          2                          2  24
78              2                          2                          2   2
79              2                          2                          2   2
80              2                          2                          2   2
81              2  Internal Exam Coordinator                          2   2

   FDS OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0   27  20   15   16         2.0         2.0  ...          2.0          2.0
1    9   9   AB   AB         2.0         2.0  ...          2.0          2.0
2   23  16   15   15         2.0         2.0  ...          2.0          2.0
3   14  11    8   15         2.0         2.0  ...          2.0          2.0
4   24  16   24   20         2.0         2.0  ...          2.0          2.0
..  ..  ..  ...  ...         ...         ...  ...          ...          ...
77  27  25   29   27         2.0         2.0  ...          2.0          2.0
78   2   2    2    2         2.0         2.0  ...          2.0          2.0
79   2   2    2    2         2.0         2.0  ...          2.0          2.0
80   2   2    2    2         2.0         2.0  ...          2.0          2.0
81   2   2  HOD    2         2.0         2.0  ...          2.0          2.0

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           2.0          2.0          2.0          2.0          2.0
1           2.0          2.0          2.0          2.0          2.0
2           2.0          2.0          2.0          2.0          2.0
3           2.0          2.0          2.0          2.0          2.0
4           2.0          2.0          2.0          2.0          2.0
..          ...          ...          ...          ...          ...
77          2.0          2.0          2.0          2.0          2.0
78          2.0          2.0          2.0          2.0          2.0
79          2.0          2.0          2.0          2.0          2.0
80          2.0          2.0          2.0          2.0          2.0
81          2.0          2.0          2.0          2.0          2.0

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           2.0          2.0            2
1           2.0          2.0            2
2           2.0          2.0            2
3           2.0          2.0            2
4           2.0          2.0            2
..          ...          ...          ...
77          2.0          2.0            2
78          2.0          2.0         321`
79          2.0          2.0            `
80          2.0          2.0            2
81          2.0          2.0            2

[82 rows x 24 columns]

In [ ]:
d = pd.read_excel("/content/Demo_copy.xlsx");
print(d)

          Sr. no.                    Roll No        Name of the Student   DM  \
0               1                     SCOA01              ALISHA SHEIKH   24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH   16
2               3                     SCOA03         SHELAR NEHA NILESH   20
3               4                     SCOA04                RIYA JAWALE   18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB   20
..            ...                        ...                        ...  ...
77  Maximum marks                        NaN                        NaN   24
78            NaN                        NaN                        NaN  NaN
79            NaN                        NaN                        NaN  NaN
80            NaN                        NaN                        NaN  NaN
81            NaN  Internal Exam Coordinator                        NaN  NaN

    FDS  OOP   CG DELD  Gender  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    27   20   15   16  female         NaN  ...          NaN          NaN
1     9    9   AB   AB  female         NaN  ...          NaN          NaN
2    23   16   15   15  female         NaN  ...          NaN          NaN
3    14   11    8   15  female         NaN  ...          NaN          NaN
4    24   16   24   20  female         NaN  ...          NaN          NaN
..  ...  ...  ...  ...     ...         ...  ...          ...          ...
77   27   25   29   27     NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN     NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN     NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN     NaN         NaN  ...          NaN          NaN
81  NaN  NaN  HOD  NaN     NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]

In [ ]:
d=d['Gender'].map({'male':0,'female':1})
print(d)

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
     ...
77    NaN
78    NaN
79    NaN
80    NaN
81    NaN
Name: Gender, Length: 82, dtype: float64

In [ ]:
import pandas as pd
d1 = [{'rollno': [1, 2, 3, 4, 5]}, {'name': ['sam', 'ram', 'geeta', 'radha', 'tiya']}]

In [ ]:
df = pd.DataFrame(d1)
print(df)

            rollno                            name
0  [1, 2, 3, 4, 5]                             NaN
1              NaN  [sam, ram, geeta, radha, tiya]

In [ ]:
import pandas as pd

d2 = {'rollno': [1, 2, 3, 4, 5], 'marks': [10, 20, 15, 20, 10]}
df2 = pd.DataFrame(d2)
print(df2)

   rollno  marks
0       1     10
1       2     20
2       3     15
3       4     20
4       5     10

In [ ]:
import pandas as pd


d1 = {'rollno': [1, 2, 3, 4, 5], 'name': ['sam', 'ram', 'geeta', 'radha', 'tiya']}
df = pd.DataFrame(d1)


d2 = {'rollno': [1, 2, 3, 4, 5], 'marks': [10, 20, 15, 20, 10]}
df2 = pd.DataFrame(d2)


merged_df = pd.merge(df, df2, on='rollno')

print(merged_df)

   rollno   name  marks
0       1    sam     10
1       2    ram     20
2       3  geeta     15
3       4  radha     20
4       5   tiya     10

In [ ]:
import pandas as pd


data = {'A': [1, 2, None, 4, None, 6]}
df = pd.DataFrame(data)


df_ffill = df.ffill(axis=0)
print(df_ffill)

     A
0  1.0
1  2.0
2  2.0
3  4.0
4  4.0
5  6.0

In [ ]:
import pandas as pd
data1= {'A': [1, 2, None, 4, None, 6]}
df1= pd.DataFrame(data1)
dback=df.bfill(axis=1)
print(dback)

     A
0  1.0
1  2.0
2  NaN
3  4.0
4  NaN
5  6.0

In [ ]:
!pip install odfpy
import pandas as pd
import numpy as np
d = pd.read_excel("/content/Demo Data DSBDA.xlsx")
print(d)

Requirement already satisfied: odfpy in /usr/local/lib/python3.11/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from odfpy) (0.7.1)
          Sr. no.                    Roll No        Name of the Student   DM  \
0               1                     SCOA01              ALISHA SHEIKH   24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH   16
2               3                     SCOA03         SHELAR NEHA NILESH   20
3               4                     SCOA04                RIYA JAWALE   18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB   20
..            ...                        ...                        ...  ...
77  Maximum marks                        NaN                        NaN   24
78            NaN                        NaN                        NaN  NaN
79            NaN                        NaN                        NaN  NaN
80            NaN                        NaN                        NaN  NaN
81            NaN  Internal Exam Coordinator                        NaN  NaN

    FDS  OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    27   20   15   16         NaN         NaN  ...          NaN          NaN
1     9    9   AB   AB         NaN         NaN  ...          NaN          NaN
2    23   16   15   15         NaN         NaN  ...          NaN          NaN
3    14   11    8   15         NaN         NaN  ...          NaN          NaN
4    24   16   24   20         NaN         NaN  ...          NaN          NaN
..  ...  ...  ...  ...         ...         ...  ...          ...          ...
77   27   25   29   27         NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
81  NaN  NaN  HOD  NaN         NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]

In [ ]:
print(d)

          Sr. no.                    Roll No        Name of the Student   DM  \
0               1                     SCOA01              ALISHA SHEIKH   24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH   16
2               3                     SCOA03         SHELAR NEHA NILESH   20
3               4                     SCOA04                RIYA JAWALE   18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB   20
..            ...                        ...                        ...  ...
77  Maximum marks                        NaN                        NaN   24
78            NaN                        NaN                        NaN  NaN
79            NaN                        NaN                        NaN  NaN
80            NaN                        NaN                        NaN  NaN
81            NaN  Internal Exam Coordinator                        NaN  NaN

    FDS  OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    27   20   15   16         NaN         NaN  ...          NaN          NaN
1     9    9   AB   AB         NaN         NaN  ...          NaN          NaN
2    23   16   15   15         NaN         NaN  ...          NaN          NaN
3    14   11    8   15         NaN         NaN  ...          NaN          NaN
4    24   16   24   20         NaN         NaN  ...          NaN          NaN
..  ...  ...  ...  ...         ...         ...  ...          ...          ...
77   27   25   29   27         NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
81  NaN  NaN  HOD  NaN         NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]

In [ ]:
print(d.columns)

Index(['Sr. no.', ' Roll No', 'Name of the Student', 'DM', 'FDS', 'OOP', 'CG',
       'DELD', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [ ]:
!pip install odfpy
import pandas as pd
import numpy as np
d = pd.read_excel("/content/Demo Data DSBDA.xlsx")
print(d)

Requirement already satisfied: odfpy in /usr/local/lib/python3.11/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from odfpy) (0.7.1)
    Sr. no.                    Roll No        Name of the Student    DM  FDS  \
0       1.0                     SCOA01              ALISHA SHEIKH  24.0   27
1       2.0                     SCOA02  SOHAM JAYYANNTH DESHMUKKH  16.0    9
2       3.0                     SCOA03         SHELAR NEHA NILESH  20.0   23
3       4.0                     SCOA04                RIYA JAWALE  18.0   14
4       5.0                     SCOA05      NARHE VARSHA RAOSAHEB  20.0   24
..      ...                        ...                        ...   ...  ...
77      NaN                        NaN                        NaN   NaN  NaN
78      NaN                        NaN                        NaN   NaN  NaN
79      NaN                        NaN                        NaN   NaN  NaN
80      NaN                        NaN                        NaN   NaN  NaN
81      NaN  Internal Exam Coordinator                        NaN   NaN  NaN

    OOP   CG  DELD Gender  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    20   15  16.0      f         NaN  ...          NaN          NaN
1     9   AB   1.0      f         NaN  ...          NaN          NaN
2    16   15  15.0      f         NaN  ...          NaN          NaN
3    11    8  15.0      f         NaN  ...          NaN          NaN
4    16   24  20.0      f         NaN  ...          NaN          NaN
..  ...  ...   ...    ...         ...  ...          ...          ...
77  NaN  NaN   NaN    NaN         NaN  ...          NaN          NaN
78  NaN  NaN   NaN    NaN         NaN  ...          NaN          NaN
79  NaN  NaN   NaN    NaN         NaN  ...          NaN          NaN
80  NaN  NaN   NaN    NaN         NaN  ...          NaN          NaN
81  NaN  NaN   NaN    NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]

In [ ]:
r = d.groupby('Gender')
first_row = r.first()
print(first_row)

        Sr. no.  Roll No Name of the Student  DM FDS OOP  CG DELD  Unnamed: 9  \
Gender
f           1.0   SCOA01       ALISHA SHEIKH  24  27  20  15   16         NaN
m          20.0   SCOA20  VIDULA VIKAS PATIL  20  24  16  26   20         NaN

        Unnamed: 10  ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
Gender               ...
f               NaN  ...          NaN          NaN          NaN          NaN
m               NaN  ...          NaN          NaN          NaN          NaN

        Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
Gender
f               NaN          NaN          NaN          NaN          NaN
m               NaN          NaN          NaN          NaN          NaN

        Unnamed: 23
Gender
f              None
m              None

[2 rows x 23 columns]

In [ ]:
count = r.count()
print(count)

        Sr. no.   Roll No  Name of the Student  DM  FDS  OOP  CG  DELD  \
Gender
f            41        41                   41  41   41   41  41    41
m            26        26                   26  26   26   26  26    26

        Unnamed: 9  Unnamed: 10  ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
Gender                           ...
f                0            0  ...            0            0            0
m                0            0  ...            0            0            0

        Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  \
Gender
f                 0            0            0            0            0
m                 0            0            0            0            0

        Unnamed: 22  Unnamed: 23
Gender
f                 0            0
m                 0            0

[2 rows x 23 columns]

In [ ]:
coRelation=d['DM'].corr(d['DELD'])
print(coRelation)

0.5199107196634403

In [ ]:
d['DM'].describe()

count    67.000000
mean     15.313433
std       6.965736
min       0.000000
25%      11.000000
50%      16.000000
75%      20.500000
max      24.000000
Name: DM, dtype: float64

In [ ]:
res=d['DM'].drop_duplicates()
print(res)

0     24.0
1     16.0
2     20.0
3     18.0
6     22.0
16    12.0
21    21.0
25     8.0
27    14.0
37    23.0
38     1.0
44     6.0
48    10.0
55     0.0
61     2.0
64     4.0
67     NaN
Name: DM, dtype: float64

In [ ]:
import pandas as pd


data = {
    'Region': ['North', 'North', 'South', 'South', 'East', 'East'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [200, 300, 150, 400, 100, 500]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
  Region Product  Sales
0  North       A    200
1  North       B    300
2  South       A    150
3  South       B    400
4   East       A    100
5   East       B    500

In [ ]:
pivoted_df = df.pivot_table(index='Region', columns='Product', values='Sales')
print(pivoted_df)

Product      A      B
Region
East     100.0  500.0
North    200.0  300.0
South    150.0  400.0

In [ ]:
import pandas as pd
data1= {'A': [1, 2, None, 4, None, 6]}
df1= pd.DataFrame(data1)
dback=df.bfill(axis=1)
print(dback)

  Region Product Sales
0  North       A   200
1  North       B   300
2  South       A   150
3  South       B   400
4   East       A   100
5   East       B   500

In [ ]:
import pandas as pd
data1= {'A': [1, 2, None, 4, None, 6]}
df1= pd.DataFrame(data1)
dback=df.bfill(axis=1)
print(dback)

  Region Product Sales
0  North       A   200
1  North       B   300
2  South       A   150
3  South       B   400
4   East       A   100
5   East       B   500

In [ ]:
import pandas as pd
result={'A':[1,2,None,4,None,6]}
r=pd.DataFrame(result)
dback=r.bfill(axis=0)
print(r)

     A
0  1.0
1  2.0
2  NaN
3  4.0
4  NaN
5  6.0