<a href="https://colab.research.google.com/github/SiddhiKate09/DSBDA-Lab_Assignments/blob/main/Lab_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
d=pd.read_csv(csv_url,names=col_names)

In [ ]:
print(d)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
d.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
print("The mean of Sepal_Length  is :",d.loc[:,"Sepal_Length"].mean())

The mean of Sepal_Length  is : 5.843333333333334

In [ ]:
print("The median of Sepal_Length  is :",d.loc[:,"Sepal_Length"].median())

The median of Sepal_Length  is : 5.8

In [ ]:
print("The mode of Sepal_Length  is :",d["Sepal_Length"].mode())

The mode of Sepal_Length  is : 0    5.0
Name: Sepal_Length, dtype: float64

In [ ]:
print("The standard deviation of Sepal_Length  is :",d["Sepal_Length"].std())

The standard deviation of Sepal_Length  is : 0.8280661279778629

In [ ]:
print("The minimum value of Sepal_Length  is :",d['Sepal_Length'].min())

The minimum value of Sepal_Length  is : 4.3

In [ ]:
print("The maximum value of Sepal_Length  is :",d['Sepal_Length'].max())

The maximum value of Sepal_Length  is : 7.9

In [ ]:
print("The varience of Sepal_Length  is :",d['Sepal_Length'].var())

The varience of Sepal_Length  is : 0.6856935123042505

In [ ]:
d['Sepal_Length'].replace({5.0:d['Sepal_Length'].max()},inplace=True)
print(d)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             7.9          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

<ipython-input-36-4a5cc0642462>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d['Sepal_Length'].replace({5.0:d['Sepal_Length'].max()},inplace=True)

In [ ]:
import pandas as pd
d=pd.read_csv("/content/assg3.csv")
print(d)

    Age_Group  Income  Attrition      Travel
0          22   65220          0        rear
1          60   43172          1        rear
2          36   78006          1        rear
3          27   32586          0  frequently
4          34   25478          1        rear
5          50   60271          0        rear
6          43   23625          0        rear
7          60   15066          0  frequently
8          42   47406          0        rear
9          23   19438          1        rear
10         25   76848          0  frequently
11         31   36423          1        rear
12         20   47323          1        rear
13         37   16021          0        rear
14         32   32966          1        rear
15         50   66476          1  frequently
16         39   32492          1        rear
17         40   55239          1        rear
18         51   67807          0        rear
19         29   79057          1        rear
20         49   78529          1  frequently
21         45   88960          0        rear
22         56   83693          1  frequently
23         47   52454          0  frequently
24         22   51981          0        rear
25         38   40687          0        rear
26         36   24557          1  frequently
27         42   33704          1  frequently
28         47   44045          0  frequently
29         45   53263          0  frequently
30         20   89212          0  frequently
31         39   39902          1  frequently
32         42   66111          0        rear
33         48   46132          1         NaN

In [ ]:
print("The mean of Age_Group is :",d["Age_Group"].mean())

The mean of Age_Group is : 39.029411764705884

In [ ]:
print("The median of Income  is :",d["Income"].median())

The median of Income  is : 47364.5

In [ ]:
print("The mode of Income  is :",d["Income"].mode())

The mode of Income  is : 0     15066
1     16021
2     19438
3     23625
4     24557
5     25478
6     32492
7     32586
8     32966
9     33704
10    36423
11    39902
12    40687
13    43172
14    44045
15    46132
16    47323
17    47406
18    51981
19    52454
20    53263
21    55239
22    60271
23    65220
24    66111
25    66476
26    67807
27    76848
28    78006
29    78529
30    79057
31    83693
32    88960
33    89212
Name: Income, dtype: int64

In [ ]:
print("Maximum income among the employees is :",d["Income"].max())
print("Minimum income among the employees is :",d["Income"].min())
print("Maximum age among the employees is :",d["Age_Group"].max())
print("Minimum age among the employees is :",d["Age_Group"].min())

Maximum income among the employees is : 89212
Minimum income among the employees is : 15066
Maximum age among the employees is : 60
Minimum age among the employees is : 20

In [ ]:
d["Travel"].replace({"frequently": 1, "rear": 0}, inplace=True)
print(d)

    Age_Group  Income  Attrition  Travel
0          22   65220          0     0.0
1          60   43172          1     0.0
2          36   78006          1     0.0
3          27   32586          0     1.0
4          34   25478          1     0.0
5          50   60271          0     0.0
6          43   23625          0     0.0
7          60   15066          0     1.0
8          42   47406          0     0.0
9          23   19438          1     0.0
10         25   76848          0     1.0
11         31   36423          1     0.0
12         20   47323          1     0.0
13         37   16021          0     0.0
14         32   32966          1     0.0
15         50   66476          1     1.0
16         39   32492          1     0.0
17         40   55239          1     0.0
18         51   67807          0     0.0
19         29   79057          1     0.0
20         49   78529          1     1.0
21         45   88960          0     0.0
22         56   83693          1     1.0
23         47   52454          0     1.0
24         22   51981          0     0.0
25         38   40687          0     0.0
26         36   24557          1     1.0
27         42   33704          1     1.0
28         47   44045          0     1.0
29         45   53263          0     1.0
30         20   89212          0     1.0
31         39   39902          1     1.0
32         42   66111          0     0.0
33         48   46132          1     NaN

In [ ]:

age_range = d['Age_Group'].max() - d['Age_Group'].min()
print(age_range)

40

In [ ]:
age_variance = d['Age_Group'].var()
age_std_deviation = d['Age_Group'].std()
print(age_variance)
print(age_std_deviation)

125.42335115864526
11.199256723490414